.margin-div {
    margin-bottom: 20px;
}

.paragraph {
    overflow-y: scroll; 
    max-height: 450px;
}


@media only screen and (min-width:961px) {
    img {
      width: 100%;
      height: 100%;
    }
  }

  @media only screen and (max-width:480px) {
    img{   
      width: 100%;
      height: 100%;
      padding-bottom: 15px;
    }
  }